<!doctype html>
<html ng-app="todoApp">
  <head>
    <title>Savings Calculator</title>
    <!-- AngularJS and cookies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-cookies.js"></script>
    <!-- Chart.JS and Angular library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
    <script src="https://jtblin.github.io/angular-chart.js/dist/angular-chart.js"></script>
    <script src="calculator.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Custom CSS -->
    <style type="text/css">
      .month-header { padding: 5px; }
      .month-container {
        display: inline; float: left; margin: 5px 10px;
      }
      .desc { color: #aaa; }
    </style>
  </head>

  <body ng-controller="CalculatorController as calculatorCtl">
    <div class="container">
      <h2>
        Savings Calculator
        <button class="btn btn-default" ng-click="calculatorCtl.updateInput()"><i class="glyphicon glyphicon-refresh"></i> Update</button>
        <button class="btn btn-default" ng-click="calculatorCtl.saveInput()"><i class="glyphicon glyphicon-floppy-disk"></i></button>
        <button class="btn btn-default" ng-click="calculatorCtl.loadInput()" ng-show="calculatorCtl.savedInput"><i class="glyphicon glyphicon-folder-open"></i></button>
        <button class="btn btn-default" ng-click="calculatorCtl.deleteInput()" ng-show="calculatorCtl.savedInput"><i class="glyphicon glyphicon-trash"></i></button>
        <small ng-show="calculatorCtl.savedMessage">{{calculatorCtl.savedMessage}}</small>
      </h2>

      <textarea class="form-control" rows="5" cols="90" ng-model="calculatorCtl.inputJson"></textarea>
      <br clear="all">

      <canvas id="bar" class="chart chart-bar"
        chart-data="calculatorCtl.graph.data" chart-labels="calculatorCtl.graph.labels" chart-series="calculatorCtl.graph.series" chart-options="calculatorCtl.chartOptions">
      </canvas>

      <div ng-repeat="(year, monthlyNumbers) in calculatorCtl.output" class="year-container">
        <div class="row">
          <div class="col-xs-12" style="background-color: #9c9; padding: 6px; margin-top: 10px">{{year}}</div>
        </div>
        <div class="row">
          <div class="col-xs-1" ng-repeat="(month, numbers) in monthlyNumbers" class="month-container">
          <!--  ng-style="calculatorCtl.startOfYear(month) ? {'clear': 'both'} : {}" -->
            <h5 class="month-header">{{month}}</h5>
            <div ng-repeat="(type, number) in numbers">   
              <span class="desc">{{type}}</span> {{number | currency}}
            </div><br/>
            <div>
              <span class="desc">TOTAL</span> {{calculatorCtl.outputTotals[year][month] | currency}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
